body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0e7d3;
    color: #12455E;
    font-family: 'Fredoka', sans-serif;
}

img {
    height: 200px;
}

h1 {
    font-size: 2.75em;
}

#magnify {
    color:#12455E;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    color: #7097a8;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 120%;
    background-color: #be983f;
    text-align: left;
}

.search-bar {
    border: none;
    border-radius: 5px;
    fill: none;
    height: 40px;
    width: 150%;
    background-color: #be983f;
    color: #12455E;
    outline: none;
}

.search-icon {
    padding: 10px;
}

a {
    color: #12455E;
    text-align: center;
    display: inline-block;
}
