body {
    background-color: #f0e7d3;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0e7d3;
    color: #12455E;
    font-family: 'Fredoka', sans-serif;
}

img {
    height: 200px;
}

h1 {
    font-size: 2.75em;
}

#magnify {
    color:#12455E;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    color: #7097a8;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 120%;
    background-color: #be983f;
    text-align: left;
}

.search-bar {
    border: none;
    border-radius: 5px;
    fill: none;
    height: 40px;
    width: 150%;
    background-color: #be983f;
    color: #12455E;
    outline: none;
}

.search-icon {
    padding: 10px;
}

a {
    color: #12455E;
    text-align: center;
    display: inline-block;
}

/* For dropdown/autocomplete menu */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid white;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid white;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #f0e7d3 !important;
    color: white;
}


/* The sidepanel menu */
.sidepanel {
    font-family: 'Fredoka', sans-serif;
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #be983f; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    text-align: left;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color:#12455E;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    opacity: 50%;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: #f0e7d3;
    color: #12455E;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    opacity: 50%;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0e7d3;
    color: #12455E;
    font-family: 'Fredoka', sans-serif;
    margin: 0px 25px;
}

    