/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0e7d3;
  color: #00354e;
}

button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

button:hover {
  background: #ebebeb;
}

#search-box {
  display: flex;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  border-radius: 5px;
  background-color: #fff;
  text-align: left;
  margin: 10px;
  height: 40px;
}

.search-bar {
  position: relative;
  border-radius: 5px;
  fill: none;
  height: 40px;
  width: 150%;
  background-color: #fff;
  outline: none;
}

.search-icon {
  padding: 10px;
}