body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
  }
  
/* Set the size of the div element that contains the map */
#map {
    height: 100%;
    width: 100%;
  }  

/* For index.html ---------------------------------------------- */

  h1 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50px;
  }
  
